* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.prima-riga {
    margin: 10px;
    height: 210px;
    width: 640px;
}

.seconda-riga {
    margin: 0px 10px;
    height: 210px;
    width: 640px;
}

.obj {
    display: inline-block;
    background-color: lightgreen;
    height: 200px;
    width: 300px;
    position: relative;
}

img {
    height: 170px;
    width: 170px;
    margin: 0 15%;
}

.sale {
    background-color: green;
    position: absolute;
    top: 0;
    right: 0;
}

.heart {
    color: red;
    font-size: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
}

.obj:hover .heart {
    display: block;
}
